## Project1

In [14]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Raw data file
file_to_load = "/Users/VINESH/Desktop/HealthCare/HealthCare/U.S._Chronic_Disease_Indicators.csv"

# Read purchasing file and store into pandas data frame
disease_df = pd.read_csv(file_to_load, low_memory=False)
# print(disease_df)
disease_yr = disease_df["YearEnd"].unique()
disease_yr

array([2016, 2015, 2013, 2014, 2012, 2011, 2010, 2008, 2007, 2001],
      dtype=int64)

In [23]:
year_gb = disease_df.groupby(["Topic","LocationAbbr"]).first()
year_gb.head()
# print (year_gb)

                      YearStart  YearEnd LocationDesc DataSource  \
Topic   LocationAbbr
Alcohol AK                 2016     2016       Alaska      BRFSS
        AL                 2016     2016      Alabama      BRFSS
        AR                 2016     2016     Arkansas      BRFSS
        AZ                 2016     2016      Arizona      BRFSS
        CA                 2016     2016   California      BRFSS

                                                               Question  \
Topic   LocationAbbr
Alcohol AK            Binge drinking prevalence among adults aged >=...
        AL            Binge drinking prevalence among adults aged >=...
        AR            Binge drinking prevalence among adults aged >=...
        AZ            Binge drinking prevalence among adults aged >=...
        CA            Binge drinking prevalence among adults aged >=...

                     Response DataValueUnit     DataValueType DataValue  \
Topic   LocationAbbr
Alcohol AK                                %  Crude Prevalence      18.2
        AL                                %  Crude Prevalence        13
        AR                                %  Crude Prevalence        15
        AZ                                %  Crude Prevalence      15.6
        CA                                %  Crude Prevalence      16.3

                      DataValueAlt        ...        LocationID TopicID  \
Topic   LocationAbbr                      ...
Alcohol AK                    18.2        ...                 2     ALC
        AL                    13.0        ...                 1     ALC
        AR                    15.0        ...                 5     ALC
        AZ                    15.6        ...                 4     ALC
        CA                    16.3        ...                 6     ALC

                      QuestionID  DataValueTypeID StratificationCategoryID1  \
Topic   LocationAbbr
Alcohol AK                ALC2_2          CRDPREV                   OVERALL
        AL                ALC2_2          CRDPREV                   OVERALL
        AR                ALC2_2          CRDPREV                   OVERALL
        AZ                ALC2_2          CRDPREV                   OVERALL
        CA                ALC2_2          CRDPREV                   OVERALL

                     StratificationID1 StratificationCategoryID2  \
Topic   LocationAbbr
Alcohol AK                         OVR
        AL                         OVR
        AR                         OVR
        AZ                         OVR
        CA                         OVR

                     StratificationID2 StratificationCategoryID3  \
Topic   LocationAbbr
Alcohol AK
        AL
        AR
        AZ
        CA

                     StratificationID3
Topic   LocationAbbr
Alcohol AK
        AL
        AR
        AZ
        CA

[5 rows x 32 columns]

In [22]:
ins_gby_sex = insurance_df.groupby(["age", "sex", "bmi", "children","smoker","region","charges"]).count()
ins_gby_sex.head()
# g1 = df1.groupby( [ "Name", "City"] ).count()

Empty DataFrame
Columns: []
Index: [(18, female, 20.79, 0, no, southeast, 1607.5101), (18, female, 21.66, 0, yes, northeast, 14283.4594), (18, female, 24.09, 1, no, southeast, 2201.0971), (18, female, 25.08, 0, no, northeast, 2196.4732), (18, female, 26.315, 0, no, northeast, 2198.18985)]